::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f40a5c;
  border-radius: 10px;
}
/* ::-webkit-scrollbar-track {
  background-color: #f40a5c;
  border-radius: 10px;
} */
::-webkit-scrollbar-thumb:hover {
  background-color: #f6b30f;
}
