:root{
    font-family: 'Hind Siliguri', sans-serif;
}
.App{
    background-color: #16181D;
    font-family: 'Hind Siliguri', sans-serif;
}
.text-primary{
    color: #F6B30F;
}
.text-secondary{
    color:#F40A5C;
}
.text-basic{
    color: #E0E0E0;
}
.text-accent{
    color: #BBBBBB;
}
.bg-primary{
    background-color: #F6B30F;
}
.bg-secondary{
    background-color:#F40A5C;
}