:root {
  font-family: "Hind Siliguri", sans-serif;
}
.App {
  background-color: #16181d;
  font-family: "Hind Siliguri", sans-serif;
}
.text-primary {
  color: #f6b30f;
}
.text-secondary {
  color: #f40a5c;
}
.text-basic {
  color: #e0e0e0;
}
.text-accent {
  color: #bbbbbb;
}
.bg-primary {
  background-color: #f6b30f;
}
.bg-secondary {
  background-color: #f40a5c;
}

.base {
  color: #f6b30f;
}

.base .des {
  display: none;
}

.base:hover .des {
  display: block;
}

.base:hover {
  background: #f6b30f;
  color: #222;
  padding: 15px;
}

/* @keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(30deg);
  }
} */

/* .scaling-div {
  width: 200px;
  background: #f6b30f;
  transition: transform 0.8s ease-in-out;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease;
}

.scaling-div:hover {
  height: 200px;
  transition: transform 0.8s ease-in-out;
}
.scaling-div:hover .text {
  display: block;
}
.icon {
  display: none;
}
.scaling-div:hover .icon {
  display: block;
  transform: scale(3.4);
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0.2;
  z-index: 0;
  /* animation: spin 1s linear infinite; */

.scaling-div2 {
  width: 200px;
  height: 82px;
  padding: 10px;
  background: #f6b30f;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 16px;
  -webkit-transition: height 0.3s ease-out, background 0.3s ease-out,
    color 0.3s ease-out;
  -moz-transition: height 0.3s ease-out, background 0.3s ease-out,
    color 0.3s ease-out;
  transition: height 0.3s ease-out, background 0.3s ease-out,
    color 0.3s ease-out;
  position: relative;
  overflow: hidden;
}
.scaling-div2:hover {
  height: 280px;
  background-color: #f80262;
  color: #fff;
}
.scaling-div2:hover .text {
  display: block;
  color: #fff;
}

.scaling-div2:hover .input {
  display: block;
  color: #333;
}
.text {
  display: none;
}
.input {
  display: none;
}
.icon {
  /* overflow-clip-margin: content-box;
    overflow: clip; */
  position: absolute;
  top: 25%;
  left: 3%;
  width: 40px;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out,
    -webkit-transform 0.3s ease-in-out;
  transition: left 0.3s ease-out, width 0.3s ease-out,
    -webkit-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, left 0.3s ease-out,
    width 0.3s ease-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, left 0.3s ease-out,
    width 0.3s ease-out;
  transition: transform 0.3s ease-in-out, left 0.3s ease-out,
    width 0.3s ease-out, -webkit-transform 0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
}
.scaling-div2:hover .icon {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30%;
  left: 60%;
  width: 112px;
  font-size: 72px;
  /* -webkit-filter: invert(100%); */
  /* filter: invert(100%); */
  opacity: 0.3;
}
.icon2 {
  opacity: 0;
}
.scaling-div2:hover .icon2 {
  opacity: 100%;
  /* -webkit-filter: invert(100%); */
  /* filter: invert(100%); */
}
