:root {
  font-family: "Hind Siliguri", sans-serif;
}
.App {
  background-color: #16181d;
  font-family: "Hind Siliguri", sans-serif;
}
.text-primary {
  color: #f6b30f;
}
.text-secondary {
  color: #f40a5c;
}
.text-basic {
  color: #e0e0e0;
}
.text-accent {
  color: #bbbbbb;
}
.bg-primary {
  background-color: #f6b30f;
}
.bg-secondary {
  background-color: #f40a5c;
}

.base{
    color: #F6B30F;
}

.base .des {
  display: none;
  
}

.base:hover .des {
  display: block;
  
}

.base:hover{
    background: #F6B30F;
    color: #222;
    
}