@font-face {
    font-family: 'MyBanglaFont';
    src: url('./Fonts/Unicode/Li\ MAK\ Akhlima\ Unicode.ttf') format('truetype');
         /* url('./fonts/MyBanglaFont-Regular.woff') format('ttf'),
         url('./fonts/MyBanglaFont-Regular.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
  }
