@font-face {
  font-family: "MyBanglaFont";
  src: url("./Fonts/Unicode/Li\ MAK\ Akhlima\ Unicode.ttf") format("truetype");
  /* url('./fonts/MyBanglaFont-Regular.woff') format('ttf'),
         url('./fonts/MyBanglaFont-Regular.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}
audio::-webkit-media-controls-panel {
  background-color: rgba(0, 8, 8, 0.572);
}
audio::-webkit-media-controls-mute-button {
  background-color: #d89f17;
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
  background-color: #d89f17;
  border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display {
  color: black;
  font-weight: 700;
}
audio::-webkit-media-controls-time-remaining-display {
  color: black;
  font-weight: 700;
}
audio::-webkit-media-controls-timeline {
  background-color: #d89f17;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
audio::-webkit-media-controls-volume-slider {
  background-color: #d89f17;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}
::-webkit-file-upload-button{
  background: #1E1E20;
  color:white;
  border-radius: 8px;
}